<%content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikiamukau, New Zealand. He left New Zealand for England, excelled at the University of Mopery, and served in the Royal Loamshire Regiment. While in service, he invented the kanuten valve used in the processing of unobtainium for industrial use. He founded Acme Manufacturing, later acquired by the Advent Corporation, to commercialize the product. Mr. Kadigan is now retired and lives in Middlehampton where he raises Graidium frieda.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores vel tempore dolores sit quisquam numquam adipisci, pariatur quasi nam vitae, hic illo libero natus, dolor obcaecati explicabo ducimus aliquam est.</p>